html{
    display:flex;
    justify-content: center;
    text-align: center;
}
#waiting{
    text-align: center;
    position: relative;
    bottom:80px;
}
img{
    width:370px;
    margin-top: 150px;
}
