#navbar{
    margin:0px;
    padding:0px;
    overflow: hidden;
    list-style-type: none;
}
#navbar li{
    float:left;
    margin:50px;
    margin-top: 0px;
    padding:0px;
    font-size: 50px;
}
#navbar li:nth-child(2) a:hover{
    padding-bottom: 7px;
    border-style:solid;
    border-color: green;
    border-top:none;
    border-right:none;
    border-left:none;
    border-width: 2px;
}
#navbar li:nth-child(3) a:hover{
    padding-bottom: 7px;
    border-style:solid;
    border-color: green;
    border-top:none;
    border-right:none;
    border-left:none;
    border-width: 2px;
}
#navbar :nth-child(2){
    float:right;
    font-size: 21px;
    margin-top:17px;
}
#navbar :nth-child(3){
    float:right;
    font-size: 21px;
    margin-top:17px;
    
}
#navbar li a{
    text-decoration: none;
    color:green;
}
@media screen and (max-width:600px){
    #navbar li{
        float:left;
        margin:15px;
        margin-top: 0px;
        padding:0px;
        font-size: 18px;
        margin-top:17px;
    }
    
    #navbar :nth-child(2){
        float:right;
        font-size: 12px;
        margin-top:19px; 
    }
    #navbar :nth-child(3){
        float:right;
        font-size: 12px;
        margin-top:19px;
        
    }
}
